// label {
//   display: block;
//   input[type="text"],
//   input[type="search"],
//   input[type="password"],
//   input[type="email"],
//   input[type="date"],
//   input[type="number"],
//   input[type="file"],
//   input[type="tel"],select, .v-select {
//     margin-top: 0.125rem;
//   }
// }
input[type="text"],
  input[type="search"],
  input[type="password"],
  input[type="email"],
  input[type="date"],
  input[type="number"],
  input[type="file"],
  input[type="tel"],select {
    display: inline-block;
    border-bottom: 1px solid $gray;
    padding: 0 0.25rem;
    @include transition-fast-in;
    &:focus {
        background: $gray_light;
        border-bottom-color: $gray_med;
        @include transition-fast-out; 
    }
}
input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
button {
  cursor: pointer;
}
.v-select {
  input.vs__search,
    input.vs__search:focus {
      font-size: 1rem;
    }

    .vs__dropdown-toggle {
      border: none;
    }

    .vs__selected-options,
    .vs__selected {
      margin: 0;
      padding: 0;
      border: none;
    }

    .vs__selected {
      border-bottom: 1px solid #DBDBDB !important;
      border-radius: 0;
    }

    .vs__dropdown-menu {
      font-size: 1rem !important;
    }

    .vs__dropdown-toggle {

      appearance: none;
      background: transparent;
      display: flex;
      padding: 0 0 4px;
      white-space: normal;
    }

    .vs__dropdown-option {
      clear: both;
      color: $body-font-color;
      cursor: pointer;
      display: block;
      line-height: 1.5;
      padding: 0 0.5rem;
    }

    .vs__dropdown-option--highlight {
      background: $blue;
      color: white;
    }

    .vs__dropdown-option--deselect {
      background: var(--vs-dropdown-option--deselect-bg);
      color: var(--vs-dropdown-option--deselect-color)
    }
}