label {

}
input[type="text"],
  input[type="search"],
  input[type="password"],
  input[type="email"],
  input[type="date"],
  input[type="number"],
  input[type="file"],
  input[type="tel"],select {
    display: inline-block;
    border-bottom: 1px solid $gray;
    padding: 0 0.25rem;
    @include transition-quick;
    &:focus {
        background: $gray_light;
        border-bottom-color: $gray_med;
        @include transition-quick; 
    }
}