@mixin transition-fast {
  transition: all 0.3s cubic-bezier(0.79,0.14,0.15,0.86);
}
@mixin transition-fast-in {
  transition: all 0.3s cubic-bezier(0,0,0.15,0.86);
}
@mixin transition-fast-out {
  transition: all 0.3s cubic-bezier(0.79,0.14,1,1);
}
@mixin transition-medium-in {
  transition: all 0.5s cubic-bezier(0,0,0.15,0.86);
}
@mixin transition-medium-out {
  transition: all 0.5s cubic-bezier(0.79,0.14,1,1);
}
@mixin floating-tip($padding, $width) {
  background: rgba($gray_dark, 0.9);
  font-size: 0.75rem;
  color: white;
  box-shadow: 0px 4px 16px rgba($gray_dark_accent, 0.2), 0px 8px 32px rgba($gray_dark_accent, 0.1);
  width: $width;

  .floating-tip-content {
    background: $gray_dark;
    clip-path: polygon(0px 100%, $padding 0%, 100% 0, calc($width - $padding) 100%);
    padding: 0.5rem $padding;
  }
}