@import "_reset.css";
@import "mixins";
//@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;600&display=swap');
@import 'components/_vselect.css';

html,
body {
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
    color: $body-font-color;
}

@import "components/typography";
@import "components/forms";

.desktop-only {
    display: none;
}
@media screen and (min-width: 1024px) {
    .mobile-only {
        display: none;
    }
    .desktop-only {
        display: initial;
    }
}
