@import "_reset.css";
@import "mixins";
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@400;700&display=swap');

html, body {
    font-family: 'Encode Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: $body-font-color;
    background: $off_white;
}

@import "components/typography";
@import "components/forms";